*.html
*.pdf
*.tex
/typeR/evaluation/corpus*
/typeR/jobs-file.txt
/typeR/paper/
/typeR/run/
/typeR/type-inference/run/
typeR/evaluation/inst/type-analyzer
/typeR/evaluation/data/
/typeR/type-inference/data/
/typeR/type-inference/data-corpus/
/typeR/type-inference/evaluation/
/typeR/type-inference/type-analyzer/type-analyzer
